<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="container-md">
  <form action="/board/modify" method="post" id="modForm">
  <hr>
    <input type="hidden" id="n" name="bno" th:value="${bvo.bno}">
    <div class="mb-3">
      <label for="regDate" class="form-label">작성일시 : </label>
      <input type="text" class="form-control" name="regDate" id="regDate" th:value="${bvo.regDate }" readonly>
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">title</label>
      <input type="text" class="form-control" name="title" id="title" th:value="${bvo.title }" readonly>
    </div>
    <div class="mb-3">
      <label for="writer" class="form-label">writer</label>
      <input type="text" class="form-control" id="writer" name="writer" th:value="${bvo.writer }" readonly>
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">content</label>
      <textarea class="form-control" id="content" rows="3" name="content" readonly>[[${bvo.content }]]</textarea>
    </div>

  <button type="button" id="listBtn" class="btn btn-outline-primary">목록</button>
  <!-- detail에서 modify 상태로 변환하기 위한 버튼 -->
  <button type="button" id="modBtn" class="btn btn-outline-warning">수정</button>
    <a th:href="@{/board/delete(bno=${bvo.bno})}">
      <button type="button" id="delBtn" class="btn btn-outline-danger">삭제</button>
    </a>
  </form>

  <script th:src="@{/js/boardDetail.js}"></script>

</div>